<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3b8ad91b-d17b-405b-801d-42a3fc85accc/resourceGroups/Dogtor/providers/Microsoft.Web/sites/dogtor</ResourceId>
    <IsLinux>True</IsLinux>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dogtor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>3dfe2b58-9978-4679-bda9-f062ab4f9e93</ProjectGuid>
    <PublishUrl>https://dogtor.scm.azurewebsites.net/</PublishUrl>
    <UserName>$dogtor</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>